@font-face {
  font-family: 'FarAwayGalaxy';
  src: url('/fonts/FarAwayGalaxy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'monkeysafarai';
  src: url('~/assets/fonts/monkeysafari-safe-font/MonkeysafarisafedemoBold-Wy9P4.otf') format('opentype');
}

@font-face {
  font-family: 'Gomery';
  src: url('~/assets/fonts/gomery-font/GomeryRegular-1jE9g.ttf') format('truetype');
}

@font-face {
  font-family: 'Aquire';
  src: url('~/assets/fonts/aquire-font/Aquire-BW0ox.otf') format('opentype');
}

@font-face {
  font-family: 'Znikomitno25';
  src: url('~/assets/fonts/new/quesha-font/Quesha-gndR.ttf') format('truetype');
}